body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background: #4b4b4b;
  color: #ffffff;
  background-color: #464866;
}

.main,
.flex-container {
  display: flex;
  justify-content: center;
}

.deploymentBox {
  border: 1px solid black;
  font-size: 0.75rem;
  max-width: 28%;
  padding: 0.5rem;
  margin: 0.5 rem;
}

.h2Update {
  margin-top: 0;
  margin-bottom: 0.4em;
}

li:not(:last-child) {
  margin-bottom: 5px;
}
