body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background: #4b4b4b;
  color: #ffffff;
  background-color: #202129;
}

.main, .flex-container{
  display: flex;
  justify-content: center;
}